
docs/.DS_Store

.DS_Store

site/

site.zip
/determiningthefuture.iml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/sbt.xml
/.idea/vcs.xml
